<html>
<body>
  <h1>My Shop</h1>
  <p>
    Invoice no. {{ suborder.order.order_id }} </br>
    <span class="secondary">
      {{ order_date }}
    </span>
  </p>

  <h3>Bill to</h3>
  <p>
    {{ suborder.order.name }}<br>
    {{ suborder.order.email }}<br>
    {{ suborder.order.mobile }}<br>
  </p>

  <h3>Items bought</h3>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for item in suborder.order.suborder_set.all %}
        <tr class="row{% cycle "1" "2" %}">
          <td>{{ item.product.name }}</td>
          <td class="num">${{ item.price }}</td>
          <td class="num">{{ item.quantity }}</td>
          <td class="num">${{ item.total }}</td>
        </tr>
      {% endfor %}
      <tr class="total">
        <td colspan="3">Total</td>
        <td class="num">{{ suborder.order.total }}</td>
      </tr>
    {%  for mode in suborder.order.transaction_set.all %}
        {{ mode.mode }}
    {% endfor %}
    </tbody>
  </table>
</body>
</html>
